* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
}

.nav {
  background-color: #94d82d;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 2rem 4rem;
}

.nav-box {
  margin-left: auto;
}

.nav-box a:link:not(:last-child),
.nav-box a:visited:not(:last-child) {
  margin-right: 4rem;
}

.nav-box a:link,
.nav-box a:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: azure;
}

.nav-box a:hover,
.nav-box a:active {
  color: darkgoldenrod;
}

.nav + div {
  width: 90rem;
  padding-top: 3rem;
  padding-left: 2rem;
  margin: 0 auto;
  font-size: 1.8rem;
  background-color: bisque;
  height: calc(100vh - 63.2px);
}

.menu-cover {
  display: flex;
  gap: 2rem;
}

.menu-cover a:link {
  text-decoration: none;
}
